/* Footer style */
footer {
    background-color: white;
    align-items: center;
    height: 60px;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
